#footer {
    padding: 5;
    margin-top: 35em;
    float: left;
    position: fixed;
    background-color: #cee8fa;
    width: 84.5%;
    height: 60px;
   }

   #footer li {
    display: inline;
   }
   
   #footer li span {
    margin-top: 0.8em;
    font-family: Arial;
    float: left;
    padding: 10px;
   }

   .txt-position{
       position: relative;
       left: -14px;
   }

   /* #acceso-footer {
    position: absolute;
    right: 10px;
   } */