<div class="container bg-container">
    <h3>¿QUIÉN SOMOS?</h3>
    <p>Canary Rats es una empresa artesanal
        que ofrece y da a conocer técnica de
        impresión por agua, rotulación, diseños
        3D y más.</p>

    <h3>¿QUÉ HACEMOS?</h3>
    <p>En Canary Rats ofrecemos servicio de
        personalización de piezas a profesionales
        del sector industrial, motor, decoración,
        ingeniería 3D y a particulares.
    </p>
    <p>Contacta con nosotros y te asesoraremos
        sobre las diferentes posibilidades y
        tendencias que tienes a tu disposición.
        Cada proyecto es único.</p>
</div>